<div class="wrapper row0">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <header id="header" class="clear"> 
    <div id="logo" class="fl_left">
      <p class="titulo_web"><a href="{{ '/' | relative_url }}">Josefina González</a></p>
      <p class="subtitulo_web">Psicóloga sanitaria en Madrid, especializada en adultos, perinatal y familia</p>
      <p class="colegiada_web">Colegiada M-27222</p>
    </div>
  </header>
</div>
