<script src="{{ site.github.url }}/assets/scripts/jquery.min.js"></script>
<script src="{{ site.github.url }}/assets/scripts/jquery.backtotop.js"></script>
<script src="{{ site.github.url }}/assets/scripts/jquery.mobilemenu.js"></script>
<script src="{{ site.github.url }}/assets/scripts/w3.js"></script>
<script src="{{ site.github.url }}/assets/scripts/menumaker.js"></script>
<script src="{{ site.github.url }}/assets/scripts/funciones.js"></script>
<link href="{{ site.github.url }}/assets/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="{{ site.github.url }}/assets/styles/menumaker.css">
<script>
//$(document).ready(function(){
  function llamaReady(){
    functionReady();
  }
//});
</script>
