<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5 sombra_arriba">
  <footer id="footer" class="clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h6 class="title">Josefina González</h6>
      <address class="btmspace-15">
      Psicóloga sanitaria<br>
      Colegiada M-27222<br>
      </address>
      <ul class="nospace">
        <li class="btmspace-10"><span class="fa fa-phone"></span><a href="tel:670064084"><b> 670064084</b></a></li>
        <li class="btmspace-10"><span class="fa fa-envelope-o"></span> info@josefinagonzalez.es</li>
        <li class="btmspace-10"><span class="fa fa-map-marker"></span> C/ Lagasca 70, 4º I. Madrid</li>
        <!--li><iframe title ="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1266383527986!2d-3.6874614245164046!3d40.42819465494238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4228967cbe800d%3A0xc760e14c075da11d!2sCalle%20de%20Lagasca%2C%2070%2C%204%C2%BAi%2C%20Salamanca%2C%2028001%20Madrid!5e0!3m2!1ses!2ses!4v1778169225557!5m2!1ses!2ses" width="250" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li-->
        <li><iframe title ="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3037.1266383527986!2d-3.6874614245164046!3d40.42819465494238!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287da9da88e5%3A0x2f88315b5220fd4d!2sJosefina%20Gonz%C3%A1lez%20psic%C3%B3loga%20sanitaria%20adultos%20perinatal%20y%20familia!5e0!3m2!1ses!2ses!4v1778770516777!5m2!1ses!2ses" width="250" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></li>
      </ul>
    </div>
    <div class="one_quarter">
      <h6 class="title">Enlaces</h6>
      <ul class="nospace linklist">
        <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
        <!--li><a href="{{ '/biografia' | relative_url }}">Biografía humana</a></li-->
        <li><a href="{{ '/quien' | relative_url }}">Quién soy</a></li>
        <li><a href="{{ '/contacto' | relative_url }}">Contacto</a></li>
      </ul>
    </div>

    <div class="one_quarter">
    	<!-- Inicio codigo nº8 WIS PortalesMedicos.com --><div><a href="https://www.portalesmedicos.com/web_interes_sanitario/180075.htm" target="_blank"><img src="https://www.portalesmedicos.com/web_interes_sanitario/logo_wis_100x80.jpg" alt = "logo WIS" style="border-width: 0px" /></a></div><div><a href="https://www.portalesmedicos.com/web_interes_sanitario/index.htm" target="_blank" style="font-family: Arial, Helvetica, sans-serif; font-size: small">Web de Interes Sanitario</a></div><!-- Fin codigo nº8 WIS PortalesMedicos.com -->
      <div><br><img src="/images/aepsis.jpg" class="borderedbox" width="300" alt="Logo Asociación Españols de Psicología Sanitaria"></div>    
    </div>
    <div class="one_quarter">
    	<img src="/images/LogoEMDR.webp" class="borderedbox" width="300" alt="logo EMDR">
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row6">
  <div id="copyright" class="clear"> 
    <!-- ################################################################################################ -->
    <!--p class="fl_left">Copyright &copy; 2015 - All Rights Reserved - <a href="#">Domain Name</a></p>
    <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p-->
    <!-- ################################################################################################ -->
    <p class="fl_right"><p id="fechamodificacion"></p>
  </div>
</div>
