<div id="cssmenu" class="elmenu">
	<ul>
    <li><a href="{{ '/index' | relative_url }}">Home</a></li>
    <li><a href="#">Servicios</a>
      <ul>
        <li><a href="{{ '/adultos' | relative_url }}">Adultos</a></li>
        <li><a href="{{ '/familia' | relative_url }}">Familia</a></li>
        <li><a href="#">Perinatal</a>
          <ul>
            <li><a href="{{ '/depresion-postparto' | relative_url }}">Psicología perinatal</a></li>
	    <li><a href="{{ '/fertilidad' | relative_url }}">Problemas de fertilidad</a></li>
	    <li><a href="{{ '/dinamicagrupal' | relative_url }}">Asesoramiento a padres. Dinámica grupal</a></li>
          </ul>
        </li>
	</li-->
      </ul>
    </li>
    <li><a href="#">Psicología perinatal</a>
	<ul>
		<li><a href="{{ '/depresion-postparto' | relative_url }}">Depresión postparto</a></li>
		<li><a href="{{ '/tocperinatal' | relative_url }}">Cuando la mamá piensa en hacer daño a su bebé</a></li>
		<li><a href="{{ '/fertilidad' | relative_url }}">Problemas de fertilidad</a></li>
		<li><a href="{{ '/dinamicagrupal' | relative_url }}">Asesoramiento a padres. Dinámica grupal</a></li>
	</ul>
    </li>
    <li><a href="{{ '/biografia' | relative_url }}">Biografía humana</a></li>
    <li><a href="{{ '/quien' | relative_url }}">Quién soy</a></li>
    <li><a href="{{ '/contacto' | relative_url }}">Contacto</a></li>
	</ul>
</div>


<!--//BLOQUE COOKIES-->
<div id="barraaceptacion" style="display: none;">
    <div class="inner">
        Solicitamos su permiso para obtener datos estadísticos de su navegación en esta web, en cumplimiento del Real 
        Decreto-ley 13/2012. Si continúa navegando consideramos que acepta el uso de cookies.
        <a href="javascript:void(0);" class="ok" onclick="PonerCookie();"><b>OK</b></a> | 
        <a href="{{ '/politicacookies' | relative_url }}" target="_blank" class="info">Más información</a>
    </div>
</div>
<!--//FIN BLOQUE COOKIES-->
<style>
	#barraaceptacion {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:20%;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
    line-height: 1em;
}
 
.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}
 
.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}
 
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}
</style>
