<!DOCTYPE html>
<html lang="es">
{% include header.html %}
<body id="top">
<!-- CABECERA -->
{% include cabecera.html %}
<!-- MENU -->
{% include menu.html %}

{{ content }}

{% if page.date %}
  <div class="firma-autora container clear"> 
    <p> Artículo escrito por <a href="{{ '/quien' | relative_url }}"><strong>Josefina González Calvo</strong></a>, Psicóloga General Sanitaria, colegiada nº M-27222 del Colegio Oficial de la Psicología de Madrid. Clínico EMDR, especializada en trauma y psicología perinatal, con enfoque sistémico. </p> 
    <p class="fecha-articulo">
      Última actualización: 
      {{ page.date | date: "%-d" }} de 
      {% assign mes_numero = page.date | date: "%m" | plus: 0 %}
      {% case mes_numero %}
        {% when 1 %}enero
        {% when 2 %}febrero
        {% when 3 %}marzo
        {% when 4 %}abril
        {% when 5 %}mayo
        {% when 6 %}junio
        {% when 7 %}julio
        {% when 8 %}agosto
        {% when 9 %}septiembre
        {% when 10 %}octubre
        {% when 11 %}noviembre
        {% when 12 %}diciembre
      {% endcase %}
      de {{ page.date | date: "%Y" }}
    </p>
  </div>
{% endif %}

<div class="wrapper row4 bgded">
  <div class="overlay">
    <section id="footercta"> 
      <br>
    </section>
  </div>
</div>
<!-- FOOTER -->
{% include footer.html %}

<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a> 
<!-- JAVASCRIPTS -->
<script src="{{ '/layout/scripts/jquery.min.js' | relative_url }}"></script>
<script src="{{ '/layout/scripts/jquery.backtotop.js' | relative_url }}"></script>
<script src="{{ '/layout/scripts/jquery.mobilemenu.js' | relative_url }}"></script>
<script src="{{ '/layout/scripts/menumaker.js' | relative_url }}"></script>
<script src="{{ '/layout/scripts/funciones.js' | relative_url }}"></script>

<script>
  function llamaReady(){
    functionReady();
  }
  $(document).ready(function(){
    llamaReady();
  });

  $("#mostrar").click(function(){
    $("#sabermas").toggle(300);
  });

  $("#mostrarmasmas").click(function(){
    $("#sabermasmas").toggle(300);
  });
</script>
</body>
</html>
